<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'proyecto01', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">Viajes Chile</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <%= link_to 'Ver mas...', 'https://jonathanriffo27.github.io/viajesChile/', class: 'text-body-secondary ver-mas' %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'proyecto02', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">Iguana Page</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <%= link_to 'Ver mas...', 'https://jonathanriffo27.github.io/iguanaPage/', class: 'text-body-secondary ver-mas' %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'proyecto03', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">Portafolio</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <%= link_to 'Ver mas...', 'https://jonathanriffo27.github.io/myResume/', class: 'text-body-secondary ver-mas' %>
      </div>
    </div>
  </div>
</div>
